<div class = "profile-page">
<div class= "profile-title">
  <h1>Awards Gallery</h1>
</div>

<!-- badges area -->
<div class="">
  <div class="">
    <h1> <%= @user.username %></h1>
    <h2> Player Score :<%=  @user.score %></h2>
  </div>
  <div class="stars">
    <h1> Level :<%= @user.level %></h1>
    <div class= "display-stars">
    <h2>
    <% star_counter = @user.level%>
    <% star_counter.times do  %>
    <%= image_tag("profile/profile-star.png", class: "profile-star")%>
    <% end %>
    <% black_stars = 4 - star_counter %>
    <% black_stars.times do  %>
    <%= image_tag("profile/profile-star.png", class: "profile-star-grey")%>
    <% end %>
    </h2>
  </div>
  </div>
</div>
<div class="container">
  <div class="container-badges">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="badges-area">
          <table class="badge_table">
            <tr>
              <td id="badge1" ><%= image_tag("profile/badge-won.png", class: "badge-not-won" )%></td>
              <td id="badge2" ><%= image_tag("profile/badge-won.png", class: "badge-not-won")%></td>
              <td id="badge3"><%= image_tag("profile/badge-won.png", class: "badge-not-won" )%></td>
              <td id="badge4"><%= image_tag("profile/badge-won.png", class: "badge-not-won")%></td>
            </tr>
            <tr>
              <td id="badge5"><%= image_tag("profile/badge-won.png", class: "badge-not-won" )%></td>
              <td id="badge6"><%= image_tag("profile/badge-won.png", class: "badge-not-won" )%></td>
              <td id="badge7"><%= image_tag("profile/badge-won.png", class: "badge-not-won" )%></td>
              <td id="badge8"><%= image_tag("profile/badge-won.png", class: "badge-not-won" )%></td>
            </tr>
            <tr>
              <td id="badge9"><%= image_tag("profile/badge-won.png", class: "badge-not-won" )%></td>
              <td id="badge10"><%= image_tag("profile/badge-won.png", class: "badge-not-won" )%></td>
              <td id="badge11"><%= image_tag("profile/badge-won.png", class: "badge-not-won" )%></td>
              <td id="badge12"><%= image_tag("profile/badge-won.png", class: "badge-not-won" )%></td>
            </tr>
            <tr>
              <td id="badge13"><%= image_tag("profile/badge-won.png", class: "badge-not-won" )%></td>
              <td id="badge14"><%= image_tag("profile/badge-won.png", class: "badge-not-won" )%></td>
              <td id="badge15"><%= image_tag("profile/badge-won.png", class: "badge-not-won" )%></td>
              <td id="badge16"><%= image_tag("profile/badge-won.png", class: "badge-not-won" )%></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- A faire en Javascript
nextWagonPlace.classList.add("active");
currentWagonPlace.classList.remove("active"); -->

<!-- Edit Profile -->

<div class="background-form-login-sign-up">
  <div class="container-form-sign-up">
    <h5>Update profile details ?</h5>
      <%= simple_form_for @user, url: profile_path do |f| %>
        <div class="form-inputs-sign-up">
          <div class="form-block">
             <%= f.input :username, required: true,
                autofocus: true ,
                input_html: { autocomplete: "Your username" } %>

            <%= f.input :city_location, required: true,
                autofocus: true ,
                input_html: { autocomplete: "Your City" } %>

          </div>
        </div>
        <div class="form-actions">
          <p><%= f.button :submit, class: "btn-form-sign-up" %></p>
        </div>
      <% end %>
  </div>
</div>
</div>
