<div class="container test-background-profile">
<div class = "profile-page">
<div class= "profile-title">
  Awards Gallery
</div>

<!-- badges area -->
<div class="">
  <div class="stars">
    <div class= "display-stars">
    <h2>
    <% star_counter = @user.level%>
    <% star_counter.times do  %>
    <%= image_tag("profile/profile-star.png", class: "profile-star")%>
    <% end %>
    <% black_stars = 4 - star_counter %>
    <% black_stars.times do  %>
    <%= image_tag("profile/profile-star.png", class: "profile-star-grey")%>
    <% end %>
    </h2>
  </div>
  </div>
</div>
  <div class="container-badges">
    <div class="row">
          <% User::BADGES.each do |code, title| %>
      <div class="col-xs-3 col-sm-2 col-md-2">
        <div class="badges-area ">
            <%= image_tag "profile/badges/#{code}.png", title: title, class: "#{@user.badges.include?(code) ? 'badge-won' : 'badge-not-won'}" %>
        </div>
      </div>
          <% end %>
    </div>
  </div>
</div>

<!-- Edit Profile -->

  <div class="container-form-sign-up">
   <p> Need to change player details ?</p>
      <%= simple_form_for @user, url: profile_path do |f| %>
        <div class="form-inputs-sign-up">
          <div class="form-block">
             <%= f.input :username, required: true,
                autofocus: true ,
                input_html: { autocomplete: "Your username" } %>

            <%= f.input :city_location, required: true,
                autofocus: true ,
                input_html: { autocomplete: "Your City" } %>

          </div>
        <div class="form-actions">
          <%= image_tag("profile/hand-kawaii.png", class: "hand-kawaii")%>
          <p><%= f.button :submit, class: "btn-form-sign-up" %></p>
        </div>
        </div>
      <% end %>
  </div>
</div>
