<div class="container">
  <div class="row center-row">
    <% User::Badge.all.each do |badge| %>
      <div class="col-xs-6 col-sm-3 col-md-2">
        <div class="list">
          <div class="container-badges">
              <div class="trigger_popup_fricc <%="#{@user.badges.include?(badge.id) ? 'badge-won' : 'badge-not-won'}"%>" data-target="badge-popup-<%= badge.id %>">
                <%= image_tag "profile/badges/#{badge.id}.svg", title: badge.description %>
              </div>
          </div>
          <div class="explanation">
            <p><%= "#{badge.explanation}" %></p>
          </div>
        </div>
      </div>

      <div class="hover_bkgr_fricc" id="badge-popup-<%= badge.id %>">
        <span class="helper"></span>
        <div>
          <div class="popupCloseButton"> ° </div>
          <p>Badge rule :<br /><%= badge.description %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>

