  <div class="  container">
 <!--    <div class="title-ranking">
      <h3>Leader board</h3>
    </div> -->
    <div class="bla">

      <% @users.order(:score).reverse.each_with_index do |user, index| %>
      <div class="card">

          <!-- <div class="col-xs-10 col-sm-6 col-md-6"> -->
            <div class="ranking">

              <div class="player-score">
                <div class="tox-progress" data-size="65" data-thickness="15" data-color="#32B796" data-background="white" data-progress="<%= (user.score.fdiv(3000)* 100).to_i %>" data-speed=<%= current_page?(plants_path) ? "5000" : "5" %> >
                  <div class="tox-progress-content" data-vcenter="true" style="display: flex; align-items: center;">
                      <%= cl_image_tag user.img, class: "avatar-g" %>
                  </div>
                  <script type="text/javascript">
                      document.addEventListener('DOMContentLoaded', function () {
                          ToxProgress.create();
                          ToxProgress.animate();
                      });
                  </script>
                </div>
              </div>


              <div class= "info-player">
                <h5>  <%= user.username %></h5>
                <p>
                <% case user.level %>
                  <% when 0 %>
                    <span> BEGINNER</span>
                  <% when 1 %>
                    <span> GREEN LOVER</span>
                  <% when 2 %>
                    <span> GARDENER</span>
                  <% when 3 %>
                    <span> BOTANIST</span>
                  <% when 4 %>
                    <span> MASTER</span>
                  <% end %>
                </p>
                <h6><%= user.score %> Pts</h6>

              </div>



              <div class = "ranking-player">
                  <% if index + 1 == 1 %>
                    <span><%= image_tag "components/gold.png"  %></span>
                  <% elsif index + 1 == 2 %>
                    <span><%= image_tag "components/silver.png"  %></span>
                  <% elsif index + 1 == 3 %>
                    <span><%= image_tag "components/bronze.png"  %></span>
                  <% else %>
                    <p><%= index + 1 %></p>
                  <% end %>
              </div>



            </div>



            <div class= "players-plants-avatars">

              <% user.plants.each do |plant| %>
              <svg viewBox="0 0 128 128" style="width: 17%; height: 17%px;" ><%= plants_svg plant.specie.code, plant.next_task_to_do.try(:action).try(:name) %></svg>
              <% end %>

            </div>



        </div>

      <% end %>
    </div>
  </div>
