  <div class="  container">
    <% @users.order(:score).reverse.each_with_index do |user, index| %>
    <div class="card">

        <!-- <div class="col-xs-10 col-sm-6 col-md-6"> -->
          <div class="ranking">

            <div class="player-score">
              <div class="tox-progress" data-size="90" data-thickness="30" data-color="#C0454E" data-background="#7DDAD1" data-progress="<%= (user.score.fdiv(3000)* 100).to_i %>" data-speed="5000">
                <div class="tox-progress-content" data-vcenter="true" style="display: flex; align-items: center;">
                    <%= cl_image_tag user.img, class: "avatar-gardener" %>
                </div>
                <script type="text/javascript">
                    document.addEventListener('DOMContentLoaded', function () {
                        ToxProgress.create();
                        ToxProgress.animate();
                    });
                </script>
              </div>
            </div>


            <div class= "info-player">
              <h5>  <%= user.username %></h5>
              <p>Botanist  <%= user.score %> Pts</p>
            </div>



            <div class = "ranking-player">
              <h1 >
                <%= index + 1  %>
              </h1>
            </div>



          </div>



          <div class= "players-plants-avatars">

            <% user.plants.each do |plant| %>
            <svg viewBox="0 0 128 128" style="width: 75px; height: 75px;" ><%= plants_svg plant.specie.code, plant.next_task_to_do.try(:action).try(:name) %></svg>
            <% end %>

          </div>



      </div>

    <% end %>
  </div>
