<div class="container tasklist-custom-container">
    <div class= "tasklist-all-tasks">
  <div class="row center-row">
    <div class= "col-xs-12 col-sm-12 col-md-12 padding-top">
        <div class ="tasklist-title"> My Taskboard</div>
            <!-- <h2> Here are the tasks that you succeeded :</h2> -->
          <div class = "one-kind-of-task">
              <div class="icon-and-tasks">
                  <div class ="only-tasks">
                  <% @user_tasks.each  do |task| %>
                <% if task.done? %>
                  <h3><div class="icon-separated"><%= image_tag "tasklist/checked.png", class: "icon" %><div> You suceeded in <%= task.action.name %>ing <%= task.plant.nickname %>, on <%= task.done_at.strftime("%A, %b %d") %>. </h3><h4 class= "won-points-message">You won : <%= task.action.points %> points</h4>
                <% end  %>
              <% end %>
            </div>
            </div>
          </div>
            <!-- <h2> Here are the tasks that you missed :</h2> -->
          <div class = "one-kind-of-task">
              <div class="icon-and-tasks">
                <div class ="only-tasks">
                <% @user_tasks.each  do |task| %>
                  <% if task.deadline_missed? %>
                    <h3><div class="icon-separated"><%= image_tag "tasklist/missed.png", class: "icon" %><div>You missed to <%= task.action.name %> <%= task.plant.nickname %>, on <%= task.max_date.strftime("%A, %b %d") %>. </h3><h4 class= "missing-points-message">You lost : <%= task.action.points %> points</h4>
                      </div>
                    </div>
                  <% end  %>
              <% end  %>
              <% if @user_tasks.where(status: 'deadline_missed').empty? %>
                     <h3><div class="icon-separated"><%= image_tag "tasklist/smiley.png", class: "icon" %><div>Congratulations, for now, you missed no task ! </h3><h4 class= "won-points-message"> Good Job !</h4>
                  <% end  %>
              </div>
          </div>
          </div>
            <!-- <h2> Here are all your soon pending tasks :</h2> -->

    </div>
  </div>
  </div>
</div>
