<div class="container tasklist-custom-container">
    <div class= "tasklist-all-tasks">
  <div class="row center-row">
    <div class= "col-xs-12 col-sm-12 col-md-12">
        <h1 class ="tasklist-title"> My Taskboard</h1>
            <!-- <h2> Here are the tasks that you succeeded :</h2> -->
          <div class = "one-kind-of-task">
              <div class="icon-and-tasks">
                  <div class ="only-tasks">
                  <% @user_tasks.each  do |task| %>
                <% if task.done? %>
                  <h3><%= image_tag "tasklist/checked.png", class: "icon" %> You suceeded in <%= task.action.name %>ing <%= task.plant.nickname %>, on <%= task.done_at.strftime("%A, %b %d") %> . </h3><h4 class= "won-points-message">You won : <%= task.action.points %> points<h4>
                <% end  %>
              <% end %>
            </div>
            </div>
          </div>
            <!-- <h2> Here are the tasks that you missed :</h2> -->
          <div class = "one-kind-of-task">
              <div class="icon-and-tasks">
                <div class ="only-tasks">
                <% @user_tasks.each  do |task| %>
                  <% if task.deadline_missed? %>
                    <h3><%= image_tag "tasklist/missed.png", class: "icon" %> You missed to <%= task.action.name %> <%= task.plant.nickname %>, on <%= task.done_at.strftime("%A, %b %d") %>. </h3><h4 class= "missing-points-message">You lost : <%= task.action.points %> points<h4>
                  <% end  %>
              <% end  %>
            </div>
          </div>
          </div>
            <!-- <h2> Here are all your soon pending tasks :</h2> -->
          <div class = "one-kind-of-task">
              <div class="icon-and-tasks">
                <div class ="only-tasks">
                <% @user_tasks.each  do |task| %>
                <% if task.pending?  && (task.max_date - Date.today < 5) %>
                  <h3><%= image_tag "tasklist/pending.png", class: "icon" %> You have to <%= task.action.name %> <%= task.plant.nickname %>, on <%= task.max_date.strftime("%A, %b %d") %> . </h3><h4 class= "pending-points-message"> You could win : <%= task.action.points %> points<h4>
                <% end  %>
              <% end  %>
            </div>
          </div>
        </div>
    </div>
  </div>
  </div>
</div>
