<div class="player-score">
  <div class="tox-progress" data-size="90" data-thickness="20" data-color="#2f6d1b" data-background="#EEFAF9" data-progress="<%= (current_user.score.fdiv(3000)* 100).to_i %>" data-speed= "5000" >
    <div class="tox-progress-content" data-vcenter="true" style="display: flex; align-items: center;">

      <% case current_user.level %>
        <% when 0%>
          <%= image_tag "levels/beginner.png", class: "avatar-gardener" %>
        <% when 1 %>
          <%= image_tag "levels/green-lover.png", class: "avatar-gardener" %>
        <% when 2 %>
          <%= image_tag "levels/gardenner.png", class: "avatar-gardener" %>
        <% when 3 %>
          <%= image_tag "levels/botanist.png", class: "avatar-gardener" %>
        <% when 4 %>
          <%= image_tag "levels/master.png", class: "avatar-gardener" %>
        <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        ToxProgress.create();
        ToxProgress.animate();
    });
</script>



