<div class="navbar-gardener">
  <!-- Box on the left with rounded avatar and player level -->
  <%= render 'shared/menu-burger' %>

  <%if current_page?(plants_path)%>
    <div class="player-all">
      <div class="player">
        <div class="player-level">
          <p>
          <% case current_user.level %>
            <% when 0 %>
              <span> BEGINNER</span>
            <% when 1 %>
              <span> GREEN LOVER</span>
            <% when 2 %>
              <span> GARDENER</span>
            <% when 3 %>
              <span> BOTANIST</span>
            <% when 4 %>
              <span> MASTER</span>
            <% end %>
          </p>
        </div>
        <div class="player-score">
          <p><%= current_user.score %> / 3000 pts</p>
        </div>
      </div>
      <%= link_to profile_path do %>
        <%= render 'shared/avatar' %>
      <% end %>
    </div>
  <% else  %>
  <!-- Back -->
    <%= link_to plants_path do %>
      <%= image_tag "navbar/back.svg", height: 60 %>
    <% end  %>
  <% end  %>
</div>




