<div class="navbar-gardener">

    <!-- Avatar on the left with levels -->
    <div class="avatar-levels">

        <!-- Avatar with dropdown menu -->

          <div class="dropdown-on-avatar">
            <%= render 'shared/avatar' %>

            <!-- <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu"> -->

          </div>

    </div>
    <%if current_page?(plants_path)%>
    <!-- Podium -->
      <%= link_to ranking_path do %>
        <%= image_tag "profile/podium/podium.png", height: 80 %>
      <% end  %>
    <% else  %>
    <!-- Back -->
      <%= link_to plants_path do %>
        <%= image_tag "navbar/back.svg", height: 60 %>
      <% end  %>
    <% end  %>

</div>
<div>
  <ul id="mobile-menu" class="menu-hidden list-unstyled">
    <i class="fas fa-times close"></i>
    <li>
      <%= link_to plants_path do %>
        <p><i class="fas fa-trophy"></i> my achievements</p>
      <% end %>
    </li>
    <li>
      <%= link_to plants_path do %>
        <p><i class="fas fa-tasks"></i> my tasks</p>
      <% end %>
    </li>
    <li>
      <%= link_to edit_profile_path do %>
        <p><i class="fas fa-user-edit"></i> change my profile</p>
      <% end %>
    </li>
    <li>
      <%= link_to destroy_user_session_path, method: :delete do %>
        <p><i class="fas fa-power-off"></i> leave the game</p>
      <% end %>
    </li>

  </ul>



</div>




