<div class="navbar-gardener">


    <!-- Avatar on the left with levels -->
    <div class="avatar-levels">

        <!-- Avatar with dropdown menu -->

          <div class="dropdown-on-avatar">
            <%= render 'shared/avatar' %>

            <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
              <li>
                <%= link_to plants_path do %>
                  <i class="fa fa-leaf"></i> <%= t(".profile", default: "My plants") %>
                <% end %>
              </li>
              <li>
                <%= link_to edit_profile_path do %>
                  <i class="fa fa-trophy"></i> <%= t(".profile", default: "My profile") %>
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <i class="fa fa-user"></i>  <%= t(".sign_out", default: "Log out") %>
                <% end %>
              </li>
            </ul>
          </div>
          <div class = "navbar-color-levels">
            <% star_counter = current_user.level%>
            <% if star_counter == 1 %>
            <%= image_tag("navbar/green-cross.png", class: "level-succeeded")%>
            <% elsif star_counter == 2 %>
            <%= image_tag("navbar/green-cross.png", class: "level-succeeded")%>
            <%= image_tag("navbar/red-cross.png", class: "level-succeeded")%>
            <% elsif star_counter == 3 %>
            <%= image_tag("navbar/green-cross.png", class: "level-succeeded")%>
            <%= image_tag("navbar/red-cross.png", class: "level-succeeded")%>
            <%= image_tag("navbar/blue-cross.png", class: "level-succeeded")%>
            <% elsif star_counter == 4 %>
            <%= image_tag("navbar/green-cross.png", class: "level-succeeded")%>
            <%= image_tag("navbar/red-cross.png", class: "level-succeeded")%>
            <%= image_tag("navbar/blue-cross.png", class: "level-succeeded")%>
            <%= image_tag("navbar/yellow-cross.png", class: "level-succeeded")%>
            <% end %>
            <% black_stars = 4 - star_counter %>
            <% black_stars.times do  %>
            <%= image_tag("navbar/green-level.png", class: "level-not-succeeded")%>
            <% end %>
          </div>

    </div>
    <div class="navbar-title">
      <span>Hey <%= current_user.username %>, the </span>
      <% case current_user.level %>
        <% when 1%>
          <span>Junior Gardener</span>
        <% when 2  %>
          <span>Green lover</span>
        <% end %>
      <p>you reached <%= current_user.score %> points !</p>
    </div>
    <%if current_page?(plants_path)%>
    <!-- Podium -->
      <%= image_tag "profile/podium/podium.png", height: 80 %>
    <% else  %>
      <!-- link_to image_tag("Search.png", border: 0), {action: 'search', controller: 'pages'}, class: 'dock-item' -->
      <%= link_to plants_path do %>
        <%= image_tag "navbar/back.svg", height: 60 %>
      <% end  %>
    <% end  %>

</div>
