<div class="navbar-gardener">

    <!-- Box on the left with rounded avatar and rectangle with player level -->
    <div class="level-box">

        <!-- Rectangle box on the right of the avatar -->
          <div class="rect-box">
            <div class="player-level">
              <p>Hey ! <%= current_user.username %>
              <% case current_user.level %>
                <% when 0 %>
                  <span>the baby-gardener !</span>
                <% when 1 %>
                  <span>the green lover !</span>
                <% when 2 %>
                  <span>the vegetal protector !</span>
                <% when 3 %>
                  <span>the botanist !</span>
                <% when 4 %>
                  <span>you are Master Gardener !</span>
                <% end %>
              </p>

            </div>
          </div>
          <!-- Rounded progress bar with avatar gardener inside -->
          <div class="dropdown-on-avatar">
            <%= render 'shared/avatar' %>
          </div>


    </div>
    <!-- Icon the right side of the navbar-->
    <%if current_page?(plants_path)%>
    <!-- Podium -->
      <%= link_to ranking_path do %>
        <%= image_tag "profile/podium/podium.png", height: 80 %>
      <% end  %>
    <% else  %>
    <!-- Back -->
      <%= link_to plants_path do %>
        <%= image_tag "navbar/back.svg", height: 60 %>
      <% end  %>
    <% end  %>

</div>
<!-- Dropdown menu items -->
<div>
  <ul id="mobile-menu" class="menu-hidden list-unstyled">
    <i class="fas fa-times close"></i>
    <li>
      <%= link_to plants_path do %>
        <p><i class="fas fa-trophy"></i> my achievements</p>
      <% end %>
    </li>
    <li>
      <%= link_to plants_path do %>
        <p><i class="fas fa-tasks"></i> my tasks</p>
      <% end %>
    </li>
    <li>
      <%= link_to edit_profile_path do %>
        <p><i class="fas fa-user-edit"></i> change my profile</p>
      <% end %>
    </li>
    <li>
      <%= link_to destroy_user_session_path, method: :delete do %>
        <p><i class="fas fa-power-off"></i> leave the game</p>
      <% end %>
    </li>

  </ul>



</div>




