<div class="wraper">
  <div class="banner">
    <div class="banner-content">
      <h1>Garden Master</h1>
      <p>Take of your plant friends</p>
      <%= link_to 'PLAY NOW', plants_path, class: "btn-form-banner" %>
    </div>


    </div>
    <ul class="bg-bubbles">
      <li><%= components_svg('pot') %></li>

      <li><%= plants_svg 'cactus', 'feelgood' %></li>
      <li><%= plants_svg 'amaryllis', 'feelgood' %></li>
      <li><%= plants_svg 'ficus', 'feelgood' %></li>
      <li><%= plants_svg 'caoutchou', 'feelgood' %></li>
      <li><%= plants_svg 'pachystachys', 'feelgood' %></li>
    </ul>
</div>

