<div class="wraper">
  <div class="banner">
    <div class="banner-content">
      <h1>Garden Master</h1>
      <p>Take of your plant friends</p>
      <%= link_to 'PLAY NOW', plants_path, class: "btn-form-banner" %>
    </div>


    </div>
    <ul class="bg-bubbles">
      <li><%= svg 'components', 'pot' %></li>
      <li><%= svg 'plants', 'guzmania' %></li>
      <li><%= svg 'plants', 'orchidee' %></li>
      <li><%= svg 'plants', 'spathiphyllum' %></li>
      <li><%= svg 'plants', 'ficus' %></li>
    </ul>
</div>

