<% if flash[:action_done] %>
  <div id="popup" class="container popup-appear">
    <div class="popup-content">
<!--     <p>Thanks <%= current_user.username %></p>-->
    <!-- <p>Now I am filling better !</p> -->
    <p>Well done <%= current_user.username%>!</p>
    <%= image_tag "components/pop.svg" %>
    <p><%= @plant.nickname %> has now <br> <%= @plant.life_points%> life points</p>
    <br>
    <p>Your total score is now <br><%= current_user.score %> pts</p>
    </div>
    <ul class="bg-leaf">
      <li><%= components_svg('leaf') %></li>
      <li><%= components_svg('leaf') %></li>
      <li><%= components_svg('leaf') %></li>
      <li><%= components_svg('leaf') %></li>
      <li><%= components_svg('leaf') %></li>
      <li><%= components_svg('leaf') %></li>
      <li><%= components_svg('leaf') %></li>
      <li><%= components_svg('leaf') %></li>
      <li><%= components_svg('leaf') %></li>
      <li><%= components_svg('leaf') %></li>
      <li><%= components_svg('leaf') %></li>
      <li><%= components_svg('leaf') %></li>
      <li><%= components_svg('leaf') %></li>
      <li><%= components_svg('leaf') %></li>
      <li><%= components_svg('leaf') %></li>
    </ul>
  </div>
<%end %>
