<% if flash[:action_done] %>
  <div id="popup" class="container popup-appear">
    <div class="popup-content">
    <p>Well done</p>
    <h1>+ <%= @last_task_points %> pts !</h1>
    <br>
    <% if current_user.level_before < current_user.level %>
      <p>You passed a new level !! <br> You are now : </p>
      <% case current_user.level %>
        <% when 0 %>
          <h2> BEGINNER</h2>
          <%= image_tag "levels/beginner.png", class: "avatar-gardener" %>
        <% when 1 %>
          <h2> GREEN LOVER</h2>
          <%= image_tag "levels/green-lover.png", class: "avatar-gardener" %>
        <% when 2 %>
          <h2> GARDENER</h2>
          <%= image_tag "levels/gardenner.png", class: "avatar-gardener" %>
        <% when 3 %>
          <h2> BOTANIST</h2>
          <%= image_tag "levels/botanist.png", class: "avatar-gardener" %>
        <% when 4 %>
          <h2> MASTER</h2>
          <%= image_tag "levels/master.png", class: "avatar-gardener" %>
        <% end %>
    <%# else  %>
    <% elsif (current_user.badges - current_user.badges_before).length > 0   %>
    <p> You win a new badge !! </p>
      <%= link_to profile_path do %>
        <%= image_tag "components/kdo.svg", height: 70 %>
      <% end  %>
    <% end  %>
    </div>
    <ul class="bg-leaf">
      <li><%= components_svg('leaf') %></li>
      <li><%= components_svg('leaf') %></li>
      <li><%= components_svg('leaf') %></li>
      <li><%= components_svg('leaf') %></li>
      <li><%= components_svg('leaf') %></li>
      <li><%= components_svg('leaf') %></li>
      <li><%= components_svg('leaf') %></li>
      <li><%= components_svg('leaf') %></li>
      <li><%= components_svg('leaf') %></li>
      <li><%= components_svg('leaf') %></li>
      <li><%= components_svg('leaf') %></li>
      <li><%= components_svg('leaf') %></li>
      <li><%= components_svg('leaf') %></li>
      <li><%= components_svg('leaf') %></li>
      <li><%= components_svg('leaf') %></li>
      <li><%= components_svg('dwarf') %></li>
      <li><%= components_svg('flower-pink2') %></li>
      <li><%= components_svg('flower-pink3') %></li>
      <li><%= components_svg('flower-pink4') %></li>
      <li><%= components_svg('flower-red') %></li>
    </ul>
  </div>
<%end %>
