<div class="container test-background-red">
  <div class="row center-row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="plants-shelf">
        <%= svg 'components', 'drink' %>
        <% @plants[0..1].each do |plant| %>
          <%= link_to plant_path(plant) do %>
              <%= svg 'plants', "#{plant.specie.code}" %>
            <% end %>
          <% end %>
        <% if [0, 1].include?(@plants.length) %>
          <%= link_to new_plant_path(plant) do %>
              <%= svg 'components', 'pot' %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="plants-shelf">
        <% @plants[2..3].each do |plant| %>
          <%= link_to plant_path(plant) do %>
              <%= svg 'plants', "#{plant.specie.code}" %>
          <% end %>
        <% end %>
        <% if [2, 3].include?(@plants.length) %>
          <%= link_to new_plant_path(@plants) do %>
              <%= svg 'components', 'pot' %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="plants-shelf">
        <%= svg 'components', 'books' %>
        <% if @plants.length == 4 %>
          <%= link_to plant_path(plant) do %>
              <%= svg 'plants', "#{plant.specie.code}" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
