<div class="background-form">
  <div class="container-form">
  <h2>Hey <%= current_user %>, You can add a new plant here !</h2>
    <%= simple_form_for [@plant] do |f| %>
    <div class="form-inputs-plant">
      <div class="form-block input-plant">
        <%= f.input :nickname, required: true,
                    label: false,
                    placeholder: "nickname",
                    input_html: { class: "placeholder-input" } %>
        <div class="form-group">
          <%= f.association :specie, required: true %>
        </div>
      </div>
    </div>
    <div class="form-actions">
    <p><%= f.button :submit, class: "btn-form-sign-up" %></p>
    </div>
    <% end %>
  </div>
</div>

