<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
      <div class="plant-show">
        <div class="bubble">
          <div class="circular">
            <div class="message">
                  <%= @no_task %>
                  <%= @task_text %>
                  <% if @task  %>
                    <%= link_to mark_as_done_task_path(@task), class: "action", method: :patch do %>
                      <i class="fas fa-check-circle"></i>
                    <% end  %>
                  <% end %>
            </div>
            <div class="circular1"></div>
            <div class="circular2"></div>
          </div>
        </div>
        <div class="plant-with-task">
          <%= plants_svg @plant.specie.code, @plant.next_task_to_do.try(:action).try(:name) %>
          <% if @task  %>
            <div class="task">
              <div class="task-image">
                <%= actions_svg @task.action.code %>
              </div>
              <div class="task-text">
                did you <%= @task.action.name %> me ? <br>(due date <%= @task.max_date %>)
              </div>
              <div class="exp">
                <div class="checkbox">
                  <form>
                    <div>
                      <%= link_to mark_as_done_task_path(@task), class: "action", method: :patch do %>
                      <input type="checkbox" id="check" name="check" value="" />
                      <label for="check">
                        <span><!-- This span is needed to create the "checkbox" element --></span>
                      </label>
                      <% end %>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          <% end %>
        </div>

        <div class="plant-name">
          <%= @plant.nickname %>
          <%= link_to plant_path(@plant), method: :delete, data: { confirm: 'are you sure?' } do%>
            <i class="fas fa-trash-alt trash"></i>
          <% end %>
          <br><%= "#{@plant.life_points} / #{@plant.specie.max_life_points} PV" %>
        </div>
          <div class="stat-1 stat-bar">
            <span class="stat-bar-rating" role="stat-bar" style="width: <%= (@plant.life_points.to_f / @plant.specie.max_life_points.to_f)*100.to_i %>%;"></span>
          </div>
      </div>

    </div>
  </div>
</div>

<% if flash[:action_done] %>
  <div id="popup" class="popup-appear">
    <div class="popup-content">
<!--     <p>Thanks <%= current_user.username %></p>-->
    <!-- <p>Now I am filling better !</p> -->
    <p>You got it!</p>
    <%= image_tag "components/pop.svg" %>
    <p><%= @plant.nickname %> as <%= @plant.life_points%> pv</p>
    <p>You have <%= current_user.score %> pts</p>
    <!-- <p>Your level is <%= current_user.level %></p> -->
    </div>
    <ul class="bg-leaf">
      <li><%= components_svg('leaf') %></li>
      <li><%= components_svg('leaf') %></li>
      <li><%= components_svg('leaf') %></li>
      <li><%= components_svg('leaf') %></li>
      <li><%= components_svg('leaf') %></li>
      <li><%= components_svg('leaf') %></li>
      <li><%= components_svg('leaf') %></li>
      <li><%= components_svg('leaf') %></li>
      <li><%= components_svg('leaf') %></li>
      <li><%= components_svg('leaf') %></li>
      <li><%= components_svg('leaf') %></li>
      <li><%= components_svg('leaf') %></li>
      <li><%= components_svg('leaf') %></li>
      <li><%= components_svg('leaf') %></li>
      <li><%= components_svg('leaf') %></li>
    </ul>
  </div>
<%end %>



