<div class="container">
  <div class="show-plant">
    <div class="task-sentence-show">
      <%= @no_task %>
      <%= @task_text %>
      <% if @task %>
      <div class="circle-task-icon">
        <div class="task-icon">
          <%= link_to mark_as_done_task_path(@task), class: "action", method: :patch do %>
            <%= actions_svg @task.action.code %>
          <% end  %>
        </div>
      </div>
      <% end %>
    </div>
    <div class="plant-with-task">
      <%= plants_svg @plant.specie.code, @plant.next_task_to_do.try(:action).try(:name) %>
    </div>
    <div class="plant-description">
      <div class="plant-name-show">
        <%= @plant.nickname %>
        <%= link_to plant_path(@plant), method: :delete, data: { confirm: 'are you sure?' } do%>
          <%= image_tag "components/trash.png", class: "trash" %>
        <% end %>
      </div>
      <div class="plant-stats-show">
        <div class="stat-1 stat-bar">
          <span class="stat-bar-rating" role="stat-bar" style="width: <%= (@plant.life_points.to_f / @plant.specie.max_life_points.to_f)*100.to_i %>%;"></span>
        </div>
        <div class="player-score-show">
         <%= "#{@plant.life_points} / #{@plant.specie.max_life_points} life points" %>
         </div>
        </div>


    </div>
  </div>
</div>


<% if flash[:action_done] %>
  <div id="popup" class="popup-appear">
    <div class="popup-content">
<!--     <p>Thanks <%= current_user.username %></p>-->
    <!-- <p>Now I am filling better !</p> -->
    <p>You got it!</p>
    <%= image_tag "components/pop.svg" %>
    <p><%= @plant.nickname %> as <%= @plant.life_points%> pv</p>
    <p>You have <%= current_user.score %> pts</p>
    <!-- <p>Your level is <%= current_user.level %></p> -->
    </div>
    <ul class="bg-leaf">
      <li><%= components_svg('leaf') %></li>
      <li><%= components_svg('leaf') %></li>
      <li><%= components_svg('leaf') %></li>
      <li><%= components_svg('leaf') %></li>
      <li><%= components_svg('leaf') %></li>
      <li><%= components_svg('leaf') %></li>
      <li><%= components_svg('leaf') %></li>
      <li><%= components_svg('leaf') %></li>
      <li><%= components_svg('leaf') %></li>
      <li><%= components_svg('leaf') %></li>
      <li><%= components_svg('leaf') %></li>
      <li><%= components_svg('leaf') %></li>
      <li><%= components_svg('leaf') %></li>
      <li><%= components_svg('leaf') %></li>
      <li><%= components_svg('leaf') %></li>
    </ul>
  </div>
<%end %>



