
<div class="container">
    <div class=" container-show ">
      <div class="tasks-box">

        <div class="task-message">
          <%= @no_task %>
          <%= @task_text %>
          <% if @task %>
         <%= link_to image_tag("actions/#{@task.action.code}.png"), mark_as_done_task_path(@task), method: :patch  %>
          <% end %>

        </div>
      </div>

      <div class="plant-box">
        <%= image_tag "plants/#{@plant.specie.code}.svg" %>
      </div>
      <div class="name-box">
        <div class="plant-name">
          <%= @plant.nickname %>

     <%= link_to plant_path(@plant), method: :delete, data: { confirm: 'are you sure?' } do%>
      <i class="fas fa-trash-alt trash"></i>
      <% end %>
              </div>
        <div class="progress-bar">https://codepen.io/dwidomski/pen/KBzuo</div>
        <div class="plant-life">
          <%= "#{@plant.life_points} / #{@plant.specie.max_life_points} PV" %>
        </div>
      </div>
    </div>
</div>




