<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
      <div class="plant">
        <div class="bubble">
          <div class="circular">
            <div class="message">
                  <%= @no_task %>
                  <%= @task_text %>
                  <% if @task  %>
                    <%= link_to mark_as_done_task_path(@task), class: "action", method: :patch do %>
                      <i class="fas fa-check-circle"></i>
                    <% end  %>
                  <% end %>
            </div>
            <div class="circular1"></div>
            <div class="circular2"></div>
          </div>
        </div>
        <div class="plant-picture">
          <%= plants_svg @plant.specie.code, @plant.next_task_to_do.try(:action).try(:name) %>
          <% if @task  %>
          <div class="task">

            <%= svg 'actions', "#{task.action.code}" %>
            <%= task.action.name %> before <%= task.max_date %>
              <%= link_to mark_as_done_task_path(@task), class: "action", method: :patch do %>
                <i class="fas fa-check-circle"></i>
              <% end %>
              </div>
            <% end  %>



        </div>
        <div class="plant-name">
          <%= @plant.nickname %>
          <%= link_to plant_path(@plant), method: :delete, data: { confirm: 'are you sure?' } do%>
            <i class="fas fa-trash-alt trash"></i>
          <% end %>
          <br><%= "#{@plant.life_points} / #{@plant.specie.max_life_points} PV" %>
        </div>
      </div>

    </div>
  </div>

  </div>


<% if flash[:action_done] %>
  <div id="popup" class="popup-appear">
    <div class="popup-content">
<!--     <p>Thanks <%= current_user.username %></p>-->
    <!-- <p>Now I am filling better !</p> -->
    <p>You got it!</p>
    <%= image_tag "components/pop.svg" %>
    <p><%= @plant.nickname %> as <%= @plant.life_points%> pv</p>
    <p>You have <%= current_user.score %> pts</p>
    <!-- <p>Your level is <%= current_user.level %></p> -->
    </div>
  </div>
<% end %>

