<div class="background-form-login">
  <div class="container-form-login">
  <h2>Hello, you can login here</h2>
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs-sign-up">
      <div class="form-block">
          <%= f.input :email,
                      label: false,
                      placeholder: "email",
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
          <%= f.input :password,
                      label: false,
                      placeholder: "password",
                      required: true,
                      input_html: { autocomplete: "current-password" } %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>
    </div>
    <div class="form-actions">
        <%= f.button :submit, "LOG IN", class: "btn-form-login" %>
    </div>
    <% end %>
    <div class="link-forgot-password">
        <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
